<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Employee: {{employee.employee_name}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/styleForm.css" />
</head>
<body>
    {{>navbar}}
    <div class="main">
    <div class="container">
        <form onsubmit="fun()" action="/employees/update?old_id={{employee.employee_id}}" method="post">
            <h1>Edit Employee</h1>
            <div class="form-group">
                <label>Employee id:</label>
                <input type="number" class="form-input" value="{{employee.employee_id}}" name="new_id" placeholder="Edit employee id" autocomplete="off" id='emp_id' required autofocus>
                <div class="error">Employee with given id is already present !</div>
            </div>
            
            <div class="form-group">
                <label>Employee name:</label>
                <input type="text" class="form-input" value="{{employee.employee_name}}" name="name" placeholder="Edit employee name" autocomplete="off" required>
            </div>
            <input type="submit" class="btn" value="Save">
        </form>
    </div>
    </div>

    <script>
        function fun()
        {
            const empId=document.getElementById('emp_id').value;
            var error=false;
            
            if(empId!={{employee.employee_id}})
            {
                {{#each employees}}
                    if({{employee_id}}==empId)
                        error=true;
                {{/each}}
            }
            
            if(error)
            {
                event.preventDefault();
                document.getElementsByClassName('error')[0].style.display='block';
                document.getElementById('emp_id').focus();
            }

        }
    </script>

</body>
</html>