<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Station: {{station.station_name}}</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/styleForm.css" />
    <link rel="stylesheet" type="text/css" href="/dropdown.css" />
</head>

<body>
    {{>navbar}}
    <div class="main">
        <div class="container">
            <form onsubmit="fun()" action="/stations/update?old_id={{station.station_id}}" method="post">
                
                <h1>Edit Station</h1>
                <div class="form-group">
                    <label>Station id:</label>
                    <input type="number" class="form-input" value="{{station.station_id}}" name="new_id"
                        placeholder="Edit station id" autocomplete="off" id='station_id' required autofocus>
                    <div class="error">Station with given id is already present !</div>
                </div>
                
                <div class="form-group">
                    <label>Station name:</label>
                    <input type="text" class="form-input" value="{{station.station_name}}" name="name"
                        placeholder="Edit station name" autocomplete="off" required>
                </div>
                
                
                <div class="form-group">
                    <label>City:</label>
                    <input type="text" class="form-input" value="{{station.station_city}}" name="city"
                        placeholder="Edit city" required>
                </div>
                
                
                <div class="form-group">
                    <label>Station master name:</label>
                    <select class="form-input" data-dropdown="" name="master" id="emp">
                        {{#each employees}}
                        <option value="{{employee_id}}">{{employee_name}}</option>
                        {{/each}}
                    </select>
                </div>
                
                <input type="submit" class="btn" value="Save">
            </form>
        </div>
    </div>

    <script>
        document.getElementById("emp").value="{{station.station_master_id}}";

        function fun()
        {
            const stationId=document.getElementById('station_id').value;
            var error=false;
            
            if(stationId!={{station.station_id}})
            {
                {{#each stations}}
                    if({{station_id}}==stationId)
                        error=true;
                {{/each}}
            }
            
            if(error)
            {
                event.preventDefault();
                document.getElementsByClassName('error')[0].style.display='block';
                document.getElementById('station_id').focus();
            }

        }
    </script>
    <script src="/dropdown.js"></script>

</body>

</html>