<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livestatus</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/styleForm.css" />
    <link rel="stylesheet" type="text/css" href="/styleTable.css" />
</head>

<body>
    
    {{>navbar}}
    <div class="main">
    <div class="container search">
        <form action="/livestatus/query" method="post">
            <h1>Live Status</h1>
            <input type="text" class="form-input" name="train_id" placeholder="Search by train number/ train name..." autocomplete="off" autofocus>
            <input type="text" class="form-input" name="time" placeholder="Enter the time in (hh:mm:ss) format" autocomplete="off">
            <button class="btn">Search</button>
        </form>
    </div>

    {{!-- <div class="container2">
        <table>
            <tr class="header">
                <th>Train id</th>
                <th>Train name</th>
                <th>Source station</th>
                <th>Destination station</th>
                <th>Train type</th>
            </tr>

            {{#each trains}}
            <tr id="train" onclick="window.location.href='/trains/{{train_id}}/view';"; style="cursor:pointer">
                <td>{{train_id}}</td>
                <td>{{train_name}}</td>
                <td>{{src_name}}</td>
                <td>{{dest_name}}</td>
                <td>{{train_type}}</td>
            </tr>
            {{/each}}
        </table>
    </div> --}}

    </div>
    
</body>

</html>